<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<typeAliases>

		<typeAlias type="com.kh.ezcol.student.model.vo.Student" alias="Student" />
		<typeAlias type="com.kh.ezcol.common.model.vo.Common" alias="Common" />
		<typeAlias type="com.kh.ezcol.employee.model.vo.Employee" alias="Employee" />
		<typeAlias type="com.kh.ezcol.teacher.model.vo.Teacher" alias="Teacher" />
		<typeAlias type="com.kh.ezcol.dept.model.vo.Dept" alias="Dept"/>
		<typeAlias type="com.kh.ezcol.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.ezcol.classInfo.model.vo.ClassInfo" alias="ClassInfo"/>
		<typeAlias type="com.kh.ezcol.breakDown.model.vo.BreakDown" alias="BreakDown"/>
		<typeAlias type="com.kh.ezcol.attendance.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="com.kh.ezcol.absence.model.vo.Absence" alias="Absence"/>
		<typeAlias type="com.kh.ezcol.recall.model.vo.Recall" alias="Recall"/>
		<typeAlias type="com.kh.ezcol.article.model.vo.Article" alias="Article"/>
		<typeAlias type="com.kh.ezcol.onoff.model.vo.Onoff" alias="Onoff"/>
		<typeAlias type="com.kh.ezcol.survey.model.vo.Survey" alias="Survey"/>
	</typeAliases>




	<mappers>

		<mapper resource="mappers/student-mapper.xml" />
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/teacher-mapper.xml" />
		<mapper resource="mappers/dept-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/class-mapper.xml" />
		<mapper resource="mappers/breakDown-mapper.xml" />
		<mapper resource="mappers/attendance-mapper.xml" />
		<mapper resource="mappers/absence-mapper.xml" />	
		<mapper resource="mappers/recall-mapper.xml" />
		<mapper resource="mappers/grade-mapper.xml" />
		<mapper resource="mappers/article-mapper.xml" />
		<mapper resource="mappers/onoff-mapper.xml" />
		<mapper resource="mappers/survey-mapper.xml" />
	</mappers>

</configuration>
